Makefile
Makefile.in

aclocal.m4

config.guess
config.log
config.status
config.sub

configure

include/config.h
include/stamp-h1

install-sh
libtool
ltmain.sh
missing
depcomp

autom4te.cache/*

*.pyc
*.o
.*.swp
